# Identity Verification

<figure><img src="../../.gitbook/assets/ethos diagrams (3).png" alt=""><figcaption><p>ethos activity diagram</p></figcaption></figure>
